@model IEnumerable<MVCPrbSol.Models.TicketStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
            <td>

                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
                {
                    <a class="btn btn-danger text-light" data-target="#deleteModal-@item.Id" data-toggle="modal">Delete</a>
                }

                @*Delete Modal*@
                <div class="modal" id="deleteModal-@item.Id">
                    <div class="modal modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header text-center bg-dark">
                                <h4 class="modal-title text-light">Delete Project</h4>
                                <button type="button" class="btn bg-dark text-light" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p>Are you sure you want to delete this project?</p>
                                            <form class="form-group" asp-action="Delete" asp-route-id="@item.Id">

                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
