@using Microsoft.AspNetCore.Identity
@using MVCPrbSol.Services
@model IEnumerable<MVCPrbSol.Models.Ticket>
@inject SignInManager<PSUser> SignInManager
@inject UserManager<PSUser> UserManager
@inject IPSAccessService AccessService

@{
    ViewData["Title"] = "MyTickets";

    var userId = UserManager.GetUserId(User);
    var roleName = (await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).FirstOrDefault();
}

<h1>My Current Tickets</h1>

<p>
    <a asp-controller="Tickets" asp-action="Create">Create New</a>
</p>
<table id="datatableDefault" class="table text-nowrap w-100 table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>