@using Microsoft.AspNetCore.Identity
@using MVCPrbSol.Services
@model MVCPrbSol.Models.Project
@inject UserManager<PSUser> _userManager
@inject MVCPrbSol.Services.IPSProjectService _projectService
@inject IPSAccessService AccessService

@{
    ViewData["Title"] = "Details";
    var userId = _userManager.GetUserId(User);
    var roleName = (await _userManager.GetRolesAsync(await _userManager.GetUserAsync(User))).FirstOrDefault();
}

@*<h1>Details</h1>*@
<h1>@Model.Name</h1>
@if (User.IsInRole("Admininistrator") || User.IsInRole("ProjectManager"))
{
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Project</a>
}
<hr />
<!--  -->
<div class="row">
    <div class="col-5">
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="mb-1">Team Members</h5>
                    @if (User.IsInRole("Admininistrator") || User.IsInRole("ProjectManager"))
                    {
                        <a asp-action="AssignUsers" asp-route-id="@Model.Id">Assign Team Members</a>

                    }
                </li>
                <li class="list-group-item">
                    @foreach (var user in Model.ProjectUsers)
                    {
                        @user.User.FullName <br />
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5 class="mb-1">Tickets for @Model.Name</h5>
                    @if (User.IsInRole("Admininistrator") || User.IsInRole("ProjectManager"))
                    {
                        <a asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Id">Create a Ticket</a>
                    }
                </li>
            </ul>
            <!--  -->
            <table id="datatableDefault" class="table text-nowrap w-100 table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            TicketPriority
                        </th>
                        <th>
                            TicketType
                        </th>
                        <th>
                            TicketStatus
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Updated
                        </th>
                        <th>
                            Developer
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                            </td>
                            <td>
                                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a>

                                @if (await AccessService.CanInteractTicket(userId, item.Id, roleName))
                                {
                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                                    <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<p>
    <a asp-controller="Projects" asp-action="MyProjects">Back to Projects</a> |
</p>
@*//Sun*@