@using Microsoft.AspNetCore.Identity
@using MVCPrbSol.Services
@model IEnumerable<MVCPrbSol.Models.Project>
@inject SignInManager<PSUser> SignInManager
@inject UserManager<PSUser> _userManager
@inject IPSAccessService _accessService
@inject IPSProjectService _projectService


    <head>
        <base href="../">
        <meta charset="utf-8">
        <meta name="author" content="Problem Solver">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A powerful tracking system to maintain an accurate record of the software development process on a per-project basis">
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="./images/favicon.png">
        <!-- Page Title  -->
        <title>Problem Solver | Welcome </title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="./assets/css/dashlite.css?ver=2.1.0">
        <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.1.0">

        <link href="~/css/app.min.css" rel="stylesheet" />
    </head>

    @{
        ViewData["Title"] = "MyProjects";
        var userId = _userManager.GetUserId(User);
        var roleName = (await _userManager.GetRolesAsync(await _userManager.GetUserAsync(User))).FirstOrDefault();
    }

    <h2>My Current Projects</h2>

    @if (User.IsInRole("Adminisitrator") || User.IsInRole("ProjectManager"))
    {
        <span><a asp-action="Create">Create New</a></span>
    }

    <table id="datatableDefault" class="table text-nowrap w-100 table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageData)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageData)
                    </td>
                    <td>
                        @if (await _accessService.CanInteractProject(userId, item.Id, roleName))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>